@import '../../shared.scss';

.TvShowEpisody {
  display: flex;
  @include fadeIn();

  @media (min-width: $screen-md-min) {
    padding: 2em;
  }
  @media (max-width: $screen-sm-max) {
    flex-wrap: wrap;
  }

  &__cover {
    img {
      width: 100%;
    }
  }

  @media (min-width: $screen-md-min) {
    &__cover,
    &__details {
      width: 50%;
    }
  }
  @media (max-width: $screen-sm-max) {
    &__cover {
      width: calc(100% - 2em);
    }
    &__details {
      width: 100%;
    }
  }

  &__cover,
  &__details {
    margin: 1em;
  }

  &__go-back {
    display: inline-block;
    margin: 1em 0;
    background: #333;
    color: white;
    padding: 0.5em 0.8em;
  }
}
